* {
    box-sizing: border-box;
  }
h1{
    font-family: monospace;
    background-color: aqua;
    text-align: center;
    margin: 10px;
    padding: 50px;
    border-radius: 20px;
    font-size: 50px;
}